<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../prueba-sass-done/c-hero.component.css">



<h1>C-HERO DEFAULT</h1>

<div class="c-hero__container c-hero__container--default">

    <div class="c-hero__text-container">
        <div class="c-hero__play">
            <i class="fa fa-play"></i>
        </div>
        <div class="c-hero__text">
            <h3>The largest community of photo enthusiats</h3>
        </div>
        <div class="c-hero__cta">
            <button>
                <span>Buy now</span>
            </button>
        </div>
    </div>


    <div class="c-hero__image c-hero__image--default">
    </div>


</div>

<h1>C-HERO REVERSE</h1>

<div class="c-hero__container c-hero__container--reverse">

    <div class="c-hero__text-container">
        <div class="c-hero__play">
            <i class="fa fa-play"></i>
        </div>
        <div class="c-hero__text">
            <h3>The largest community of photo enthusiats</h3>
        </div>
        <div class="c-hero__cta">
            <button>
                <span>Buy now</span>
            </button>
        </div>
    </div>


    <div class="c-hero__image c-hero__image--reverse">
    </div>

</div>

<h1>C-HERO VERTICAL</h1>

<div class="c-hero__container c-hero__container--vertical">

    <div class="c-hero__text-container">
        <div class="c-hero__play">
            <i class="fa fa-play"></i>
        </div>
        <div class="c-hero__text">
            <h3>The largest community of photo enthusiats</h3>
        </div>
        <div class="c-hero__cta">
            <button>
                <span>Buy now</span>
            </button>
        </div>
    </div>

    <div class="c-hero__image c-hero__image--vertical">

    </div>

</div>

<h1>C-HERO OVER</h1>

<div class="c-hero__container c-hero__container--over">

    <div class="c-hero__text-container">
        <div class="c-hero__play">
            <i class="fa fa-play"></i>
        </div>
        <div class="c-hero__text">
            <h3>The largest community of photo enthusiats</h3>
        </div>
        <div class="c-hero__cta">
            <button>
                <span>Buy now</span>
            </button>
        </div>
    </div>

    <div class="c-hero__image c-hero__image--over">
    </div>

</div>

<h1>C-HERO OVER CENTER</h1>

<div class="c-hero__container c-hero__container--over c-hero__container--center">

    <div class="c-hero__text-container">
        <div class="c-hero__play">
            <i class="fa fa-play"></i>
        </div>
        <div class="c-hero__text">
            <h3>The largest community of photo enthusiats</h3>
        </div>
        <div class="c-hero__cta">
            <button>
                <span>Buy now</span>
            </button>
        </div>
    </div>

    <div class="c-hero__image c-hero__image--over">
    </div>

</div>